<!doctype html>
<html>
<head>
	<title>Cepler</title>
	<meta charset="iso-8859-1">	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='design.css') }}">
</head>

<body>

<!-- NAVIGATION -->	
<div id="nav_container">
	<nav id="primary_nav_wrap">
	<ul class="menu_item">
	  <li><a href="/"><it>Try it!</it></a>
	  <li><a href="#"><it>Resources</it></a>
	    <ul>
	      <li><a href="/api"><it>API</it></a></li>
	      <li><a href="/ontology"><it>Ontology</it></a></li>
	      <li><a href="/datasources"><it>Data Sources</it></a></li>
	    </ul>
	  </li>
	  <li><a href="/about"><it>About</it></a></li>
	</ul>
	</nav>
</div>
<!--Buffer Div-->
<div id="buffer_div">
</div> 
<div align="center">
  <h1 style="color: red; opacity: 0.7;">Beta version.</h1>
</div> 


<!-- Main Div -->	
<div id="main_div"> 
	<div class="api_div">
	<p class="header">What Cepler is<subtext> simply explained. </subtext></h1></p>
	<div class="line_div"></div>
	<div style="height:50px;"></div>
	<div class="simple_div">
		<div class="inner_div"> 
			<p class="maintext">
			</br>
			Cepler - A comparison engine</br></br>
			Cepler is a project that is part of a seminar of the <a class="ourLink" href="http://www.aif.kit.edu">Institute of Applied Informatics and Formal Description Methods (AIFB)</a> at the <a class="ourLink" href="http://www.kit.edu">Karlsruhe Institute of Technology (KIT)</a>.</br>
			The purpose of this seminar is to develop a Web 3.0 application that exploits the <a class="ourLink" href="http://lod-cloud.net"> Linked Data Cloud</a> in order to solve a problem.</br>
			The problem that we want to tackle is the fact that people are very bad at imagining large numbers. Therefore, we semantically use the data of linked data endpoints to provide a good comparison.
		</p>
		</div>
	</div>
	<p class="header">About us <subtext> and what we do</subtext></h1></p>
	<div class="line_div"></div>
	<div style="height:50px;"></div>
	<div class="simple_div">
		<div class="inner_div"> 
			<p class="maintext">
			</br>
			Hi, </br></br>
			we are the Cepler-Team. </br>
			Ben, Nico, Lars.</br>
			Cepler stands for "Comparison Engine Processing Linked Endpoint Resources". </br>
			We want to exploit the linked data cloud in order to provide better comparisons.</br>
			People are bad a imagining large numbers.</br>
			Therefore, we provide a comparison, such that people can understand those numbers more intuitively.
			</br></br></br>
			Try it and have fun!
		</p>
		</div>
	</div>
		<p class="header">Contact us <subtext> and talk to us</subtext></h1></p>
		<div class="line_div"></div>
		<div style="height:50px;"></div>
		<div class="simple_div">
			<div class="inner_div"> 
				<p class="maintext">
				Feel free to contact us at: <a   class ="ourLink" href="mailto:info@cepler.org">info@cepler.org</a>				
			</p>
			</div>
</div> 
</div>
</div>
<div style="height:50px;"></div>
<!-- Footer -->	

<footer>
	<div id="footerText" align=center>
	(C) Ben, Nico, Lars
	</div>
</footer>




</body>


<link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</html>