<!doctype html>
<html>
<head>
	<title>Cepler - API</title>
	<meta charset="iso-8859-1">	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='design.css') }}">
</head>

<body>

<!-- NAVIGATION -->	
<div id="nav_container">
	<nav id="primary_nav_wrap">
	<ul class="menu_item">
	  <li><a href="/"><it>Try it!</it></a>
	  <li><a href="#"><it>Resources</it></a>
	    <ul>
	      <li><a href="/api"><it>API</it></a></li>
	      <li><a href="/ontology"><it>Ontology</it></a></li>
	      <li><a href="/datasources"><it>Data Sources</it></a></li>
	    </ul>
	  </li>
	  <li><a href="/about"><it>About</it></a></li>
	</ul>
	</nav>
</div>
<!--Buffer Div-->
<div id="buffer_div"> 
</div> 
<div align="center">
  <h1 style="color: red; opacity: 0.7;">Beta version.</h1>
</div>


<!-- Main Div -->	
<div id="main_div"> 
	<div class="api_div">
	<p class="header">Cepler API<subtext> version 1.0</subtext></h1></p>
	<p class="subtext">http://cepler.org/</p>
	<div class="line_div"></div>
	<div style="height:32px;"></div>
<!-- MAIN /Compare-->
	<div class="method_container">
		<div class="Mhead"><p1 class="text">/compare</p1> </div>
		<div class="Mbody"> 
			<div class="center_body">
				<div style="height:33px;">
				<ul class="tabrow">
					<li><a href="#request" style="text-decoration: none; color: black;">Request</a></li>
					<li><a href="#response" style="text-decoration: none; color: black;">Response</a></li>
					<li><a href="#example" style="text-decoration: none; color: black;">Example</a></li>
				</ul>
				<ul class="getrow">
					<li><a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.3" style="text-decoration: none; color: white;">GET</a></li>
				</ul>
			</div>
				<div>
					<div>
  						<div class="req_div" id="request">
  							<div class="inner_div">
  							<h3>Request</h3>
  							<h2>Desciption:</h2>
  							<p class="maintext">The compare method can be used in order to compare a given value and unit to another resource.
  							</p>
                <h2>Accepts:</h2>
                <p class="maintext">Acceptable Datatypes: "application/ld+json"
                </p>
  							<h2>Parameters:</h2>
  							<ul class="maintext" >
  								<li style="font-weight:bold;">value (required)</li>
  								<p><p1 style="font-style:italic;">Type: </p1>float </p>
  								<p><p1 style="font-style:italic;">Example: </p1>12993 </p>
  								<li style="font-weight:bold;">unit (required)</li>	
  								<p><p1 style="font-style:italic;">Type: </p1>enum </p>
  								<p><p1 style="font-style:italic;">Unit: </p1>[t,k,g,km,m,euro,usd] </p>
  								<p><p1 style="font-style:italic;">Example: </p1>"t" </p>	
  							</ul>
  						</div>
  						</div>
						<div class="req_div" id="response">
							<div class="inner_div">
							<h3>Response</h3>
							<h2>HTTP Status code <a style="text-decoration: underline; color: #04B45F;" href="https://httpstatuses.com/200">200</a> </h2>
  							<p class="maintext" >If successful, a JSON-LD response is returned:</p>
  							<div class="json_div">
  							<pre>
[
    {
        "@id": "http://dbpedia.org/ontology/Place",
        "http://www.w3.org/2000/01/rdf-schema#label": [
            {
                "@value": "place"
            }
        ]
    },
    {
        "@id": "_:result",
        "@type": [
            "http://dbpedia.org/ontology/Place"
        ],
        "http://www.cepler.org/ontology#unit": [
            {
                "@id": "https://www.wikidata.org/wiki/Q11573"
            }
        ],
        "http://www.cepler.org/ontology#uri": [
            {
                "@id": "http://dbpedia.org/resource/Autostrada_A4_(Italy)"
            }
        ],
        "http://www.w3.org/1999/02/22-rdf-syntax-ns#value": [
            {
                "@value": "517000.0"
            }
        ],
        "http://www.w3.org/2000/01/rdf-schema#label": [
            {
                "@value": "Autostrada A4 (Italien)"
            }
        ],
        "http://xmlns.com/foaf/0.1/depiction": [
            {
                "@id": "http://commons.wikimedia.org/wiki/Special:FilePath/Mappa_autostrada_A4_Italia.svg"
            }
        ]
    },
    {
        "@id": "_:query",
        "http://schema.org/result": [
            {
                "@id": "_:result"
            }
        ],
        "http://semanticscience.org/resource/SIO_001018": [
            {
                "@value": 71
            }
        ],
        "http://spinrdf.org/spin#query": [
            {
                "@id": "_:request"
            }
        ]
    },
    {
        "@id": "_:request",
        "@type": [
            "http://purl.org/net/provenance/types#Query"
        ],
        "http://lemon-model.net/lemon#context": [
            {
                "@id": "https://www.wikidata.org/wiki/Q828224"
            }
        ],
        "http://www.w3.org/1999/02/22-rdf-syntax-ns#value": [
            {
                "@value": 37372.0
            }
        ]
    }
]</pre>
  							</div>

  							<p class="maintext" >If no result could be found:</p>
  							<div class="json_div">
  							<pre>
[ { "result": "no result was found"}]  									
  							</pre>
  						</div>
  							<h2>HTTP Status code <a style="text-decoration: underline; color: #04B45F;" href="https://httpstatuses.com/400">400</a> </h2>
  							<p class="maintext" >Client Error: The request could not be handled due to an incorrect request.</p>
                <h2>HTTP Status code <a style="text-decoration: underline; color: #04B45F;" href="https://httpstatuses.com/406">406</a> </h2>
                <p class="maintext" >Client Error: The accept header was not correctly specified. Please note that only "application/ld+json" is supported with the current API.</p>
                <h2>HTTP Status code <a style="text-decoration: underline; color: #04B45F;" href="https://httpstatuses.com/500">500</a> </h2>
                <p class="maintext" >Server Error: Something went wrong on the server. We are sorry that we could not complete your request!</p>
              </div>
  						</div>
              
  						</div>	
  						<div class="req_div" id="example">
  							<div class="inner_div">
  							<h3>Example</h3>
  							<p class="maintext" >The following example request a value of "2000000" and a unit of "t" (tons):</p>
  							<div class="json_div">
  								<p class="maintext" style="left-margin=10px;"><pre> http://cepler.org/compare?v=2000000&u=t</pre></p>
  							</div>
  						</div>		
  						</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<div style="height:32px;"></div> 
<div class="line_div"></div>
<div style="height:32px;"></div> 


</div>
</div>
<div style="height:50px;"></div>
<!-- Footer -->	

<footer>
	<div id="footerText" align=center>
	(C) Ben, Nico, Lars
	</div>
</footer>
</body>


<link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</html>