<!doctype html>
<html>
<head>
	<title>Cepler - Datasources</title>
	<meta charset="iso-8859-1">	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='design.css') }}">
</head>

<body>

<!-- NAVIGATION -->	
<div id="nav_container">
	<nav id="primary_nav_wrap">
	<ul class="menu_item">
	  <li><a href="/"><it>Try it!</it></a>
	  <li><a href="#"><it>Resources</it></a>
	    <ul>
	      <li><a href="/api"><it>API</it></a></li>
	      <li><a href="/ontology"><it>Ontology</it></a></li>
	      <li><a href="/datasources"><it>Data Sources</it></a></li>
	    </ul>
	  </li>
	  <li><a href="/about"><it>About</it></a></li>
	</ul>
	</nav>
</div>
<!--Buffer Div-->
<div id="buffer_div"> 
</div> 


<!-- Main Div -->	
<div id="main_div"> 
<div class="api_div">
	<p class="header">Data sources <subtext> where we get our knowledge from</subtext></h1></p>
	<div class="line_div"></div>
	<div style="height:32px;"></div>
	<div class="simple_div">
		<div class="inner_div">
			<p class="maintext">
				These are the data sources that we access in order to provide comparisons.
			</p>
			<div style="height:32px;"></div>
			<!--A property-->
			<h1 id="factor">DBpedia</h1>
			<div class="line_div_b"></div>
			<p class="maintext"><a style="text-decoration: underline; color: #04B45F;" href="http://www.dbpedia.org">DBPedia</a> provides a SPARQL endpoint that we use to access the DBpedia data.</p>
			<a href="http://wiki.dbpedia.org/about" title="About DBpedia">
			<img src="http://dbpedia.org/statics/dbpedia_logo.png"></img>
		</a>
			<div style="height:32px;"></div>
			<!--A property-->
			<h1 id="factor">Worldbank</h1>
			<div class="line_div_b"></div>
			<p class="maintext"><a style="text-decoration: underline; color: #04B45F;" href="http://www.dbpedia.org">DBPedia</a> provides a SPARQL endpoint that we use to access the DBpedia data.</p>
			<a href="http://worldbank.270a.info" title="About Worldbank">
			<img style="height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Logo_The_World_Bank.svg/2000px-Logo_The_World_Bank.svg.png"></img>
		</a>
		</div>
	</div>
</div> 


<div style="height:32px;"></div>
<!-- Footer -->	

<footer>
	<div id="footerText" align=center>
	(C) Ben, Nico, Lars
	</div>
</footer>
</body>


<link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</html>