<!doctype html>
<html>
<head>
	<title>LOD-Seminar</title>
	<meta charset="iso-8859-1">	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='design.css') }}">


<div ALIGN=CENTER> 
<label>
	<h1 font size="20" s>
	Fun Fact!
	</font>
</label>
</br>
</br>
</br>
<form>
<div align=center>
	<div>
		<input id="textbox"></input>
	
		<select id ="slct">
		<option selected> Choose a unit... </option>
		  <optgroup label="Weight">
		  	<option value="t">t</option>
		    <option value="kg">kg</option>
		    <option value="g">g</option>
		  </optgroup>
		  <optgroup label="Distance">
		    <option value="km">km</option>
		    <option value="m">m</option>
		    <option value="cm">cm</option>
		  </optgroup>
		    <optgroup label="Money">
		    <option value="euro">Euro</option>
		    <option value="usd">US-Dollar</option>
		  </optgroup>
		</select>
</div>
</form>

</br>

<div  id='infoDiv'  style="display:none;" >
	<label id="outputLabel" font size="14"> </input>

</div>

</br>
</br>
</br>
<div align="center">
	<button type="button" id="button" onclick="tryItClick()" >Try it!</button>
</div>

<!--<span id=result>?</span>-->

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<script type="text/javascript">
	function tryItClick()
	{
		//First: check input validity
		var value = document.getElementById('textbox').value;
		var selectedUnit = document.getElementById('slct').value;


		if( document.getElementById('slct').selectedIndex == 0)
		{
			ShowMessage("Please select a valid unit.");
		}
		else
		{
			if(value == "")
			{
				ShowMessage("Please enter a value.")
			}
			else if(!(Number(value)))
			{
				ShowMessage("Please enter a number.")
			}
			else
			{
				processRequest(value, selectedUnit);				
			}
		}

	}

	function ShowMessage( text )
	{
		document.getElementById('outputLabel').innerHTML = text;
		document.getElementById('infoDiv').style.display = "";
	}
	
	function processRequest( value, unit)
	{
		$(function() 
		{
    		
      		$.getJSON($SCRIPT_ROOT + '/getJSON', 
      		{
        		v: value,
        		u: unit
      		}, function(data) 
      		{
      			//$("#result").text(data.result);
      			handleResponse(data);
      			return false;
    		});
  		});
	}

	function handleResponse(response)
	{
		ShowMessage(response.result);
	}


</script>
<!-- $("#result").text(data.result); -->
</head>
</html>