<!doctype html>
<html>
<head>
	<title>Cepler - Ontology</title>
	<meta charset="iso-8859-1">	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='design.css') }}">
</head>

<body>

<!-- NAVIGATION -->	
<div id="nav_container">
	<nav id="primary_nav_wrap">
	<ul class="menu_item">
	  <li><a href="/"><it>Try it!</it></a>
	  <li><a href="#"><it>Resources</it></a>
	    <ul>
	      <li><a href="/api"><it>API</it></a></li>
	      <li><a href="/ontology"><it>Ontology</it></a></li>
	      <li><a href="/datasources"><it>Data Sources</it></a></li>
	    </ul>
	  </li>
	  <li><a href="/about"><it>About</it></a></li>
	</ul>
	</nav>
</div>
<!--Buffer Div-->
<div id="buffer_div"> 
</div> 
<div align="center">
  <h1 style="color: red; opacity: 0.7;">Beta version.</h1>
</div> 


<!-- Main Div -->	
<div id="main_div"> 
	<div class="api_div">
	<p class="header">Cepler Ontology<subtext> so that you know what we talk about</subtext></h1></p>
	<div class="line_div"></div>
	<div style="height:32px;"></div>
	<div class="simple_div">
		<div class="inner_div">
			<p class="maintext">
				Please find our ontology described in RDF below.
			</p>
			<div style="height:10px;"></div>
			<div class="maintext" ><a  class="ourLink" href="/download/ontology"> RDF Download (turtle)</a></div>
			<div style="height:10px;"></div>
			<!-- CLASSES -->
			<h3>Classes</h3>
			<div class="line_div"> </div>

			
			<!--A Class-->
			<div class="req_div">
			<p class="h5" id="Statement">cep:Statement</p>
			<table style="width:80%; left-margin: 10%; top-margin:0px; padding: 0px;">
				<col width="40%">
  				<col width="80%">
			  <tr>
			    <td ><h2>Property:</h2></td>
			    <td><h2>Value:</h2></td> 
			  </tr>
			  <tr class="maintext">
			  	<td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdf:type</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></td> 
			</tr>
			<tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
			    <td>'Statement'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
			    <td>'A Cepler Statement consists of a value and a unit.'@en</td> 
			  </tr>
			</table>
			</div>

			<!--A Class-->
			<div class="req_div">
			<p class="h5" id="Fact">cep:Fact</p>
			<table style="width:80%; left-margin: 10%; top-margin:0px; padding: 0px;">
				<col width="40%">
  				<col width="80%">
			  <tr>
			    <td ><h2>Property:</h2></td>
			    <td><h2>Value:</h2></td> 
			  </tr>
			  <tr class="maintext">
			  	<td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdf:type</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></td> 
			</tr>
			<tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
			    <td>'Fact'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
			    <td>'A Cepler Fact describes a measurable dimension of some entity (e.g., its weight, length or cost).'@en</td> 
			  </tr>
			</table>
			</div>

			<!--A Class-->
			<div class="req_div">
			<p class="h5" id="Factor">cep:Factor</p>
			<table style="width:80%; left-margin: 10%; top-margin:0px; padding: 0px;">
				<col width="40%">
  				<col width="80%">
			  <tr>
			    <td ><h2>Property:</h2></td>
			    <td><h2>Value:</h2></td> 
			  </tr>
			  <tr class="maintext">
			  	<td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdf:type</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#Class">rdfs:Class</a></td> 
			</tr>
			<tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
			    <td>'Factor'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
			    <td>'Defines a numerical relation between a Cepler Statement and a Cepler Fact.'@en</td> 
			  </tr>
			</table>
			</div>
	

			<!-- Properties -->
			<h3>Properties</h3>
			<div class="line_div"> </div>

			<!--A Property-->
			<div class="req_div">
			<p class="h5" id="divides">cep:divides</p>
			<table style="width:80%; left-margin: 10%; top-margin:0px; padding: 0px;">
				<col width="40%">
  				<col width="80%">
			  <tr>
			    <td ><h2>Property:</h2></td>
			    <td><h2>Value:</h2></td> 
			  </tr>
			  <tr class="maintext">
			  	<td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdf:type</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#Property">rdf:Property</a></td> 
			</tr>
			<tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
			    <td>'divides'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
			    <td>'Divides a Cepler Statement's value by a Cepler Factor.'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://cepler.org/ontology#Factor">cep:Factor</a></td>
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://cepler.org/ontology#Statement">cep:Statement</a></td> 
			  </tr>
			</table>
			</div>

			<!--A Property-->
			<div class="req_div">
			<p class="h5" id="multiplies">cep:multiplies</p>
			<table style="width:80%; left-margin: 10%; top-margin:0px; padding: 0px;">
				<col width="40%">
  				<col width="80%">
			  <tr>
			    <td ><h2>Property:</h2></td>
			    <td><h2>Value:</h2></td> 
			  </tr>
			  <tr class="maintext">
			  	<td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdf:type</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#Property">rdf:Property</a></td> 
			</tr>
			<tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
			    <td>'multiplies'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
			    <td>'Multiplies a Cepler Fact value by a Cepler Factor.'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://cepler.org/ontology#Factor">cep:Factor</a></td>
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#range">rdfs:range</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://cepler.org/ontology#Fact">cep:Fact</a></td> 
			  </tr>
			</table>
			</div>

			<!--A Property-->
			<div class="req_div">
			<p class="h5" id="unit">cep:unit</p>
			<table style="width:80%; left-margin: 10%; top-margin:0px; padding: 0px;">
				<col width="40%">
  				<col width="80%">
			  <tr>
			    <td ><h2>Property:</h2></td>
			    <td><h2>Value:</h2></td> 
			  </tr>
			  <tr class="maintext">
			  	<td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdf:type</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#Property">rdf:Property</a></td> 
			</tr>
			<tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
			    <td>'unit'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
			    <td>'Defines the dimension of a numerical value.'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://schema.org/isSimilarTo">schema:isSimilarTo</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://wikiba.se/ontology#quantityUnit">wikibase:quantityUnit</a></td>
			  </tr>
			</table>
			</div>

			<!--A Property-->
			<div class="req_div">
			<p class="h5" id="entity">cep:entity</p>
			<table style="width:80%; left-margin: 10%; top-margin:0px; padding: 0px;">
				<col width="40%">
  				<col width="80%">
			  <tr>
			    <td ><h2>Property:</h2></td>
			    <td><h2>Value:</h2></td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></td>
			    <td>'entity'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></td>
			    <td>'Relates an entity to a Cepler Fact.'@en</td> 
			  </tr>
			  <tr class="maintext">
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://www.w3.org/2000/01/rdf-schema#domain">rdfs:domain</a></td>
			    <td><a style="text-decoration: none; color: #04B45F;" href="http://cepler.org/ontology#Facts">cep:Fact</a></td>
			  </tr>
			</table>
			</div>	


			<!-- RDF -->
			<h3>RDF</h3>
			<div class="line_div"> </div>
			<p class="maintext">
				Download our ontology as  a Turtle file <a class="ourLink" href="/download/ontology" >here</a>. </br>
				You can easily check out our ontology below:
			</p>
					<div class="json_div" style="margin:5px;">
			<p>
				<pre>
@prefix cep: http://www.cepler.org/ontology# .
@prefix rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns# .
@prefix rdfs: http://www.w3.org/2000/01/rdf-schema# .
@prefix schema: http://schema.org/ .
@prefix wikibase: http://wikiba.se/ontology# .

#Cepler Class: Statement
cep:Statement rdf:type rdfs:Class .
cep:Statement rdfs:label "Statement" @en .
cep:Statement rdfs:comment "A Cepler Statement consists of a value and a unit. " @en .

#Cepler Property: divides
cep:divides rdf:type rdf:Property .
cep:divides rdf:label "divides" @en .
cep:divides rdfs:comment "Divides a Cepler Statement's value by a Cepler Factor. " @en .
cep:divides rdfs:domain cep:Factor .
cep:divides rdfs:range cep:Statement .

#Cepler Class: Factor
cep:Factor rdf:type rdfs:Class .
cep:Factor rdfs:label "Factor" @en .
cep:Factor rdfs:comment "Defines a numerical relation between a Cepler Statement and a Cepler Fact. " @en .

#Cepler Class: Fact
cep:Fact rdf:type rdfs:Class .
cep:Fact rdfs:label "Fact" @en .
cep:Fact rdfs:comment "A Cepler Fact describes a measurable dimension of some entity (e.g., its weight, length or cost). " @en .

#Cepler Property: multiplies
cep:multiplies rdf:type rdf:Property .
cep:multiplies rdf:label "multiplies" @en .
cep:multiplies rdfs:comment "Multiplies a Cepler Fact' value by a Cepler Factor. " .
cep:multiplies rdfs:domain cep:Factor .
cep:multiplies rdfs:range cep:Fact .

#Cepler Property: unit
cep:unit rdf:type rdf:Property .
cep:unit rdf:label "unit" @en .
cep:unit rdfs:comment "Defines the dimension of a numerical value. "
cep:unit schema:isSimilarTo wikibase:quantityUnit .

#Cepler Property: entity
cep:entity rdf:type rdf:Property .
cep:entity rdf:label "entity" @en .
cep:entity rdfs:comment "Relates an entity to a Cepler Fact." @en .
cep:entity rdfs:domain cep:Fact .
</pre>

			</p>
		</div>

	</div>

	</div>
</div>
</div> 

<!-- Footer -->	
<div style="height:80px;"></div>
<footer>
	<div id="footerText" align=center>
	Cepler - A Comparison Engine</br>by Ben, Nico, Lars
	</div>
</footer>



<link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</html>