<!doctype html>
<html>
<head>
	<title>Cepler</title>
	<meta charset="iso-8859-1">	
	<link rel="stylesheet" href="design.css">
</head>

<body>

<!-- NAVIGATION -->	
<div id="nav_container">
	<nav id="primary_nav_wrap">
	
	</nav>
</div>
<!--Buffer Div-->
<div id="buffer_div"> 
</div> 


<!-- Main Div -->	
<div id="main_div" align="center"> 
<h1>Hier ensteht die Cepler-Homepage.</h1>
</div> 

<!-- Result-->
<div id="resultDiv">

</div>





<!-- Footer -->	
<div style="height:50px;"></div>
<footer>
	<div id="footerText" align=center>
	(C) Ben, Nico, Lars
	</div>
</footer>


<body>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>



<!-- $("#result").text(data.result); -->

</html>